.sidebar
{
  display: flex;
  height: 100vh; /*Full height of screen is covered.Otherwise only till button , right border was there*/
  
  /* If you zoom out , it goes to 1 side.Thus if size reaches 1300px, it centers itself on the screen */
  max-width: 1300px;
  margin: auto;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

