.Homepage
{
    flex:0.55;
    /* border:2px solid rgb(233, 33, 33); */
    /* border-right: 1px solid lightgray; */
    /* overflow-y: scroll; */
    
   

}
.Homepage_title_h2
{
    margin:0.5rem;
    /* font-size: x-large; */
    /* font-weight: 570; */
    margin-left: 1rem;
    margin-top: 5px;
    /* margin-bottom: 2rem; */
    padding-bottom: 0.2rem;
    display: flex;
    justify-content: center;
}
.Homepage_title
{
    position: sticky;
    top:0;
    z-index: 100;
    border: 1px solid lightgray;
    background-color: #fffefe;
    color: #1da1f2;

}

/* ---------------------------------- */
.Homepage_Allposts_specificPost_tab {
    margin-top: 20px;
    /* padding-bottom: 10px; */

    display: flex;
    /* justify-content: space-evenly; */
    /* flex-shrink: 0; */

    border-bottom: 1px solid rgb(140, 157, 157, 0.7);
    cursor: pointer;
}

/* ------------------------------------ */
.Homepage_Post_tab {
    flex: 1;
    display: flex;
    justify-content: center;

    padding-bottom: 6px;
    padding-top: 6px;

    border: none;
    font-size: 16px;
}

.Homepage_Post_tab:hover {
    background-color: #ececec;
}

/* --------------------------------------------------- */
.Homepage_Post_tab_underline {
    flex: 1;
    display: flex;
    justify-content: center;

    padding-bottom: 6px;
    padding-top: 6px;

    border-bottom: 3px solid rgb(29, 161, 242);

    font-size: 16px;
    font-weight: 700;
    color: rgb(29, 161, 242);
}

.Homepage_Post_tab_underline:hover {
    background-color: #ececec;
    /* rgb(29,161,242,0.5); */
}
/* --------------------------------------------------- */

.Homepage_NotFollowing
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 650;

}

@media (max-width:800px) {

    .Homepage
    {
        flex:0.5;
        /* background-color: red; */
    }

   .Homepage_Post_tab_underline {
       flex: 0.8;
       display: flex;
       justify-content: center;

       padding-bottom: 6px;
       padding-top: 6px;

       border-bottom: 3px solid rgb(29, 161, 242);

       font-size: 16px;
       font-weight: 700;
       color: rgb(29, 161, 242);
   }

   .Homepage_Post_tab {
       flex: 1;
       display: flex;
       justify-content: center;

       padding-bottom: 6px;
       padding-top: 6px;

       border: none;
       font-size: 16px;
   }
}