.Left_Sidebar
{
    flex:0.2;
    border:1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 0px;
    min-width: 300px;
    min-height: 99.5vh;

}
.Left_Sidebar_sticky_title
{
    position: sticky;
    top:0;
    z-index: 100;
    /* border: 3px solid yellow; */

}

.main_icon
{
     padding-left: 5.1rem;
     /* display: flex; */
     /* align-items: center; */
     margin-top: 1rem;
     font-size: 2.2rem !important;
     color: #1da1f2;
}
.post_button
{
 color: white;
 background-color: #1da1f2;
 font-size: large;
 padding: 10px 80px;
 margin-left: 1.4rem;
 margin-bottom: 1rem;
 /* border: 1px solid red; */
 border:none;
 border-radius: 20px;
 margin-top: 1rem;
 cursor:pointer;

 /* font-weight: 700; */
}

.post_button:hover
{
    font-weight: 700;
    background-color: #0d9af1;
}