.Post
{
    /* display: flex; */
    /* margin:1rem; */
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    /* margin-top:1rem; */
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    /* margin-bottom: 0rem; */
    padding-bottom: 0rem;
    cursor: pointer;
    /* line-height: 30px;
    height: 40px; */
    /* color:#7c7f80; */

}
.Post:hover
{
    background-color:rgb(243, 243, 243,0.4);
    /* margin: 1rem; */
    /* margin-bottom: 0rem; */
    /* line-height: 29px; */
}
.Post_header
{
    display: flex;

    align-items: center;
}

.Post_avator
{
    margin-right: 10px;
}
.Post_displayName
{
    font-weight: 800;
    margin-right: 2px;
}

.Post_displayName:hover
{
    text-decoration: underline;
    /* color: red; */
}
.Post_verified
{
    color:#1da1f2;
    font-size: 1.1rem !important;
    margin-right: 6px;
}
.Post_username
{
    color:#7c7f80;
}
.Post_text_img
{
    /* display: block; */
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 1.3rem;

}

.Post_img
{
    /* display: block; */
    margin-top: 1rem;
    border-radius: 20px;
    height:300px;
    width:100%;
    /* flex:1; */
    /* width: 100%;
    height: 10%; */

}

.Post_bottomIcons
{
    display: flex;
    justify-content: space-evenly;
    color: #5c5d5e;
    margin-bottom: 0.5rem;
    /* font-size: large !important; */
    /* padding: 0 10px; */
    /* margin: 5px; */
   
}

/* Icons hovering */
.Post_bottomIcons .icon-like
{
    padding: 6px;
}

.Post_bottomIcons .icon-like:hover
{
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 50%;
  
}



.Post_bottomIcons .icon-comment
{
    padding: 6px;
}

.Post_bottomIcons .icon-comment:hover
{
    color: #138bd6;
    background-color: rgba(44,167,242,0.2);
    border-radius: 50%;
  
}



.Post_bottomIcons .icon-retweet
{
    padding: 6px;
}

.Post_bottomIcons .icon-retweet:hover
{
    color: rgb(32, 174, 32);
    background-color: rgb(34, 192, 34, 0.1);
    border-radius: 50%;
  
}