.Profile_top{
    flex:0.60;
    /* border:2px solid rgb(233, 33, 33); */
    border-right: 1px solid lightgray;
}

.Profile_Div_Title_Name
{
    position: sticky;
    top:0;
    z-index: 100;
    border: 1px solid lightgray;
    background-color: #fffefe;
}
.Profile_Title_Name
{
    color: #1da1f2;
    padding-left: 5px;
}
.Profile_title_h2
{
    margin:0.5rem;
    /* font-size: x-large; */
    /* font-weight: 570; */
    margin-left: 1rem;
    margin-top: 5px;
    /* margin-bottom: 2rem; */
    padding-bottom: 0.2rem;
    display: flex;
    justify-content: center;
}

.Profile_Div_CoverPic
{
    height:180px;
    background-color: #1da1f2;
}
.Profile_Div_Cp {
    height: 180px;
    width: 100%;
    /* display: flex; */
    /* flex: 0.60; */
    background-color: #1da1f2;
}

.Profile_avatar
{
    height: 132px !important;
    width: 132px !important;
    margin-left: 30px;

    margin-top: -64px;
    border: 4px solid white;
   

}

.Profile_avatar_header
{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.Profile_EditPic_button
{
    margin-right: 22px;
    
    color: #1da1f2;
    background-color: white;
    font-size:small;
    /* border:none; */
    border: 2px solid #1da1f2;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 550;
    padding: 2px 12px;
    
}
.Profile_follow_button
{
    /* float: right; */
    /* height: 25px; */
    /* margin-top: 180px; */
    margin-right: 22px;

    /* color: white;
    background-color: #1da1f2;
    font-size:medium;
    border:none;
    border-radius: 12px;
    cursor:pointer;
    font-weight: 550;
    padding: 6px 12px; */


    color: #1da1f2 ;
    background-color: white;
    font-size:medium;
    /* border:none; */
    border: 2px solid #1da1f2;
    border-radius: 20px;
    cursor:pointer;
    font-weight: 550;
    padding: 2px 12px;
}

.Profile_following_button
{
    /* float: right; */
    /* height: 25px; */
    /* margin-top: 180px; */
    margin-right: 22px;

    /* color: white;
    background-color: #1da1f2;
    font-size:medium;
    border:none;
    border-radius: 12px;
    cursor:pointer;
    font-weight: 550;
    padding: 6px 12px; */


    color: white;
    background-color: #1da1f2;
    font-size:medium;
    /* border:none; */
    border: 2px solid #1da1f2;
    border-radius: 20px;
    cursor:pointer;
    font-weight: 550;
    padding: 2px 12px;
}

.Profile_follow_button:hover
{
    background-color: #efefef;
    /* font-size: large; */
}

.Profile_following_button:hover {
    background-color: #41b0f4;
    
    
}

/* .Profile_following_button:hover:before {
  
    content: "Reply!"
} */


.Profile_displayName
{
    margin: 5px;
    margin-left:15px; 
    margin-top: 10px;
    margin-bottom: 0px;

    font-weight: 700;
    font-size: large;
}
.Profile_username
{
    margin-left:15px; 
    color:  #728787;
    margin-bottom: 10px;
}



/* ----------------DEscription -----*/
.Profile_description
{
    margin-left:15px; 
    margin-bottom: 10px;
}
.Profile_description_text_editBtn
{
    display: flex;
    /* align-items: center; */
}
.Profile_descriptionText
{
    text-decoration: underline;
    font-weight: 550;
    
}

.Profile_description_UsersText
{
    /* color:#505252; */
    font-weight: 600;
}
.Profile_description_input_div
{
    margin-left: 10px;
    /* display: flex; */
    /* flex: 1; */
    /* justify-content: center; */
    /* text-align: center; */
}

/*Edit button  Icon Description*/
/* --------------------------- */
.Profile_EditIcon_button
{
    background-color: transparent;
    border:none;
    color: #5c5d5e;
}

.Profile_EditIcon
{
    padding: 2px 4px 5px 6px;
}

.Profile_EditIcon:hover
{
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 50%;
  
}
/* --------------------------- */

.Profile_Post_reply {
    /* padding-left: 20px; */
    /* margin-left: 38px; */
    margin-top: 5px;
    color: white;
    background-color: #1da1f2;
    font-size: medium;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;

    padding: 5px 17px;
}

.Profile_Post_reply:hover {
    font-weight: 700;
    background-color: #0d9af1;
}

.Profile_description_input
{
    /* border: none; */
    height: 60px;
    width: 70%;
    font-size: 15px;
    border: 1px solid black;
}

/* No space between Tag & placeholder */
.Profile_description_input::placeholder {
    color: #1da1f2;
    font-size: 1.1rem;
}

.icon-like {
    /* padding: 6px 6px 6px 6px; */
}

.icon-like:hover {
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 50%;

}
/* ---------------------- */


/* -----Follow--- */
.Profile_followers_following
{
    margin-left:15px; 
}


.Profile_follow
{
    font-weight: 600;
}

.Profile_follow_text
{
    color:  #535c5c;
}
.Profile_follow_text:hover
{
    color:  #505252;
    text-decoration: underline;
    cursor: pointer;
}

/* ------------------------------------------- */
.Profile_post_reply_tab
{
    margin-top: 20px;
    /* padding-bottom: 10px; */
    
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-shrink: 0; */

    border-bottom: 1px solid rgb(140,157,157,0.7);
    cursor: pointer;
}


.Profile_tab
{
  flex: 1;
  display: flex;
  justify-content: center;
  
  padding-bottom: 6px;
  padding-top: 6px;

  border: none;
  font-size: 16px;
}
.Profile_tab:hover
{
    background-color:   #ececec;
}

/* --------------------------------------------------- */
.Profile_tab_underline
{
  flex: 1;
  display: flex;
  justify-content: center;

  padding-bottom: 6px;
  padding-top: 6px;

  border-bottom: 3px solid rgb(29,161,242);
  
  font-size: 16px;
  font-weight: 700;
  color:rgb(29,161,242);
}

.Profile_tab_underline:hover
{
    background-color:   #ececec;
    /* rgb(29,161,242,0.5); */
}


/* ------------------------------------------------------ */

.Profile_NoTweets
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 650;
}

/* -------------------------------------------------------- */
/* ---------------- PIC EDIT MODAL  ------------------------*/


.modal3 {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(213, 29, 29);  */
    background-color: rgb(0, 0, 0, 0.4);
    cursor: cell;
    z-index: 101;

}

/* Modal Content/Box */
.Profile_EditPic_modal-content {
    background-color: rgb(247, 247, 247);
    /* background-color: rgb(241, 241, 241); */
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    /* Could be more or less, depending on screen size */
    min-height: 34%;
    /* cursor:all-scroll; */
    /* align-items: center; */
}

/* The Close Button */
.close {
    color: rgb(220, 16, 16);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.Profile_EditPic_reply-closeArrowBtn {
    display: flex;
    /* padding-bottom: 8px; */
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

.modal-reply-heading {
    /* padding-right: 20px; */
    color: black;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

.modal-uploadPic-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 12px;
    margin: 7px;
    
    margin-bottom: 10px;
}

.Profile_EditPic_reply-closeArrowBtn .closeArrowBtn {
    background-color: transparent;
    border: none;
    /* padding-left: 100px; */
    /* color: #5c5d5e; */
    margin-left: auto;
    /* float: right; */

}

.modal_postText {
    /* display: block; */
    /* margin-top: 5%; */
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;


}

.bottom-border {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    /* padding-bottom: 2px; */

}

.modal_Post_avator {
    margin-top: 5px;
}

.modal-textarea {
    /* margin-top: 5%; */
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1.3rem;

    height: 80px;
    width: 80%;
    border: none;
    border: 0.8px solid black;
    font-size: 1.2rem;
    background-color: rgb(247, 247, 247);


}

.modal-textarea::placeholder {
    color: #1da1f2;
    font-size: 1.2rem;
}
.Profile_EditPic_modal_Btns
{
    display: flex;
    justify-content: center;
}
.Profile_EditPic_modal_Post_reply {
    /* padding-left: 20px; */
    /* margin-left: 38px; */

    color: white;
    background-color: #1da1f2;
    font-size: larger;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;

    padding: -1px 17px;
    margin-top: 24px;
}

.Profile_EditPic_modal_Post_reply_disable {

    /* display: flex; */
    /* justify-items: center; */

    /* padding-left: 20px; */
    /* margin-left: 38px; */

    color: white;
    background-color: rgb(138, 199, 237);
    /* rgb(110, 190, 240,1); */
    font-size: larger;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;

    padding: -1px 17px;
    margin-top: 24px;
}

.Profile_EditPic_modal_Close_reply {
    
    margin-left: 18px;
    color: white;
    background-color: #636e75;
    font-size: larger;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    font-weight: 500;
    padding: 5px 14px;
    margin-top: 24px;
}
/* ------------  EDIT PIC END MODAL ------------------------------------ */
/* ------------------------------------------------------------ */


/* ----------------------EDIT PIC----------------------- */
input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid black;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    margin-top: 5px;
    margin-bottom: 5px;

    background-color: rgb(40,172,255, 0.8);
    color: black;
    font-weight: 600;
}

.custom-file-upload:hover{
    /* font-size: large; */
    font-weight: 750;
}

.span-img {
    /* color: red; */
}




@media (max-width:800px) {

    .modal-textarea {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 1.3rem;

        height: 80px;
        width: 70%;/************************************This is changed*/
        border: none;
        border: 0.8px solid black;
        font-size: 1.2rem;
        background-color: rgb(247, 247, 247);


    }
}

@media (max-width:770px) {

.Profile_EditPic_modal-content {
        background-color: rgb(247, 247, 247);
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 35%;/************************************This is changed*/
        min-height: 34%;
       
    }
}


@media (max-width:662px) {

    .Profile_EditPic_modal-content {
        background-color: rgb(247, 247, 247);
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 45%;/************************************This is changed*/
        min-height: 34%;
        
    }
}

@media (max-width:522px) {

    .Profile_EditPic_modal-content {
        background-color: rgb(247, 247, 247);
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 65%;/************************************This is changed*/
        min-height: 34%;
       
    }
}