.register_header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.register_header .logo
{
    object-fit: contain;
    width: 125px;
    /* height: 50px; */
    padding-top: 28px;
    padding-bottom: 2px;
}

.register_header .register_details
{
    width: 330px;
    height:fit-content;
    
    display: flex;
    flex-direction: column;
   
    padding: 20px;
    border: 1px solid;

}

.register_details > h1
{
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.register_details > h2
{
    font-weight: 450;
    /* margin-bottom: 5px; */
    /* margin-left: 0px; */
    /* margin-top: 0px; */
    margin: 0px;
    margin-bottom: 0.5px;
}

.register_details > input
{
    width: 95%;
    margin-bottom: 10px;
    height: 25px;
}

.register_details .register_button
{
    margin-top: 10px;
    height: 25px;
    width: 98%;

    /* background-color: yellow; */
    /* background: blue; */
    border: 1px solid;
}

.register_details .register_button:hover
{
    margin-top: 10px;
    height: 25px;
    width: 98%;

    background-color: rgb(224, 223, 223);
    /* background: blue; */
    border: 1px solid;
}

.register_details .login_button
{
    margin-top: 10px;
    height: 25px;
    width: 98%;

    background-color: yellow;
    /* background: blue; */
    border: 1px solid;
}

.register_details > h3
{
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}