.Tweetbox
{
    display: flex;
    flex-direction: column;
    padding:2rem 2rem 1rem 2rem;
    border-bottom: 12px solid rgb(235, 235, 235);
}


.Tweetbox_avatar_input
{
    display: flex;
}

.Tweetbox_avatar
{
    margin-right: 2rem;
}
.Tweetbox_input
{
    border:none;
    height:40px;
    width:100%;
    font-size: 15px;
}

.Tweetbox_img_input
{
    border:none;
    margin-top: 2px;
    height:30px;
    width:100%;
    font-size: 15px;

}
input[type="text"]
{
    font-size:1.2rem;
}
.Tweetbox_avatar_input ::placeholder 
{
    color: #1da1f2;
    font-size: 1.2rem;
  }

.Tweetbox_button
{
    color: white;
    background-color: #1da1f2;
    
    font-size: large;
   
    padding: 11px 30px;
    

    /*align POST button to right  */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* margin-left: auto; */
    /* margin-right: 0; */
    float: right;
    /* margin-left: 450px; */
    /* align-self: flex-end; */

    border:none;
    border-radius: 20px;
    margin-top: 1rem;
    cursor:pointer;
    
   
}

.Tweetbox_button:hover
{
    font-weight: 700;
    background-color: #0d9af1;
}

.button_div
{
    float: right;
}